@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-primary-dark: #101828;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply dark:bg-[var(--color-primary)]  font-sans transition-colors duration-300;


}
html {
  transition: all 0.3s ease;
}
